@import "../../styles/variables";
@import "../../styles/typography";

.weather{
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0 2rem;
	.temp{
		color: $blue;
	}
	.content{
		margin-left: 1rem;
		p{
			@include font-size-lg;
		}
	}
	.icon{
		text-align: center;
		padding-left: 2rem;
		i{
			font-size: 8rem;
			display: block;
		}
		span{
			display: block;
		}
	}
}