@import "typography";

$slate: #282828;
$grey: #666;
$light-grey: #ddd;
$red: #C6452B;

// Text
$text-slate: #333;
$text-grey: #888;

$green:#3EC556;
$lightgreen: #8FC49C;

$gold: #d2a021;

$blue: #39fcff;

$twitter-blue: #4099FF;
$laser: #ff39a1;

$component-padding: 2.4rem 3.2rem 1rem;

$color-list: (slate:$slate, grey:$grey, light-grey:$light-grey, red:$red, text-slate:$text-slate, text-grey:$text-grey, green:$green, lightgreen:$lightgreen, gold:$gold, blue:$blue);

@each $color, $var in $color-list {
	.text--#{$color} {
		 color: #{$var};
	}
}

@mixin unlist{
	list-style: none;
	padding:0;
	margin:0;
}